.container-user-regist {
    width: 80%; 
    max-width: 1200; 
    height: auto !important;
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    
  }
  