.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 40px;
}
.navbar-content {
  display: flex;
  justify-content: end;
  align-items: center;
}
.logo img {
  max-width: 100px;
  height: auto;
}
.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.navbar-item {
  margin-right: 20px;
}
.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

  